{% extends 'home.html' %}

{% load static %}
    {% block title %}
    <title> First Page </title>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'first_app/index.css' %}">
    {% endblock css %}

    {% block content %}
      <h1> Welcome to the innovation with python training </h1>
      <p>Please wait for the contents to be loaded</p>
      <p>Hi everyone</p>
      <!-- <ul>
        {% for week in week_list %}
          <li>{{week|title}}</li>
        {% endfor %}
     </ul> -->
    {% endblock %}